.home {
  text-align: center;
  width: 100vw;
  /*height: 100vh; */ 
  /*background-image: url("/src/images/eddyHouse1.jpg");*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

