.navbar-btn button {
    color: black;
    padding: 10px;
    margin-right: 5px;
}

.navbar-btn button:hover {
    color: white;
    background-color: black;
}

.nav-mobile-items span {
    font-weight: 700;
}

.nav-mobile-items:hover,
.nav-mobile-items span:hover {
    background-color: black;
    color: #ffffff;
}